# Dependencies
node_modules/
venv/
__pycache__/
*.pyc

# Environment Variables (NEVER UPLOAD THESE!)
.env
.env.local
.env.production

# Local databases
*.db
*.db-shm
*.db-wal

# Build files
build/
dist/

# Logs and OS files
*.log
.DS_Store
